process.on('unhandledRejection', up => { throw up })

module.exports = {
    networksCollectionName: "networks",
    channelsCollectionName: "channels",
    predictionsCollectionName: "predictions",
    databaseName: "neuralfm",
    twitter: {
        consumer_key: '...',
        consumer_secret: '...',
        access_token_key: '...',
        access_token_secret: '...'
    },
};
