html, body {
  background: hsl(0, 0%, 4%);
  background-image: radial-gradient(circle at center center, rgb(71, 71, 71),rgb(8, 8, 8));
  height: 100%;
}

/** App **/
#app-wrapper {
  margin-top: 50px;
}

#app {
  margin: 0;
}

#app h2 {
  margin: 0;
  padding: 0;
  margin-bottom: 5px;
  font-size: 19px;
}

/** Loading **/
#loading {
  position: absolute;
  vertical-align: middle;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 24px;
  opacity: 1;
  transition: opacity 1s;
}

#loading .columns {
  height: 100%;
}

#loading.loaded {
  opacity: 0;
  transition: opacity 1s;
  pointer-events: none;
}

#loading.unloaded {
  opacity: 1;
  transition: opacity 1s;
}

.breathe {
  animation: pulse 3s infinite ease-in-out;
}

@keyframes pulse {
  0% { transform: scale(0.95); opacity: 0.7; }
  50% { transform: scale(1); opacity: 1; }
  100% { transform: scale(0.95); opacity: 0.7; }
}

/** Navigation **/

nav {
  background-image: repeating-linear-gradient(45deg, rgb(27, 27, 27) 0px, rgb(27, 27, 27) 97px,rgb(24, 24, 24) 97px, rgb(24, 24, 24) 194px,rgb(20, 20, 20) 194px, rgb(20, 20, 20) 291px);
}

nav a {
  color: white !important;
}

.logo {
  margin: 15px 25px;
}

.logo .title {
  font-size: 21px;
  color: white;
  vertical-align: middle;
}

.logo .subtitle {
  font-size: 13px;
  color: white;
}

.logo .bitcoin-icon {
  width: 25px;
  height: 25px;
  filter: invert(82%) sepia(35%) saturate(7420%) hue-rotate(10deg) brightness(106%) contrast(98%);
  user-select: none;
  display: inline-block;
  transform: rotate(-14deg);
  vertical-align: middle;
}

nav a:hover {
  background-color: rgba(200, 200, 200, 0.05) !important;
}

nav .create-button {
  background-color: rgba(200, 200, 200, 0.05);
  border: 0;
  margin-top: 8px;
}

nav .create-button:hover {
  background-color: rgba(200, 200, 200, 0.15) !important;
}

nav .navbar-end {
  display: none;
}

/** create button isn't hidding properly between desktop and tablet viewports **/
@media screen and (min-width: 1024px) {
  nav .navbar-end {
    display: block;
  }
}

/** Sidebar **/
#sidebar h2 {
  font-size: 120%;
}

#sidebar {
  font-size: 14px;
}

#sidebar .sort {
  margin-top: 5px;
}

#sidebar .sort-link {
  color: white;
  margin: 0 8px;
}

#sidebar .training-text {
  padding: 5px;
  margin-top: 2px;
  margin-left: 13px;
}

#sidebar .classifications {
  width: 100%;
  background: none;
  margin: 20px 0;
}

#sidebar .classifications td {
  border: none;
}

#sidebar .classifications .classification {
  width: 60px;
}

#sidebar .classifications .fingerprint{
}

/** Feed **/

.feed {
}

.feed-item {
  margin: 30px 0;
}

.feed-item a {
  color: white;
}

.feed-item .prediction {
  text-align: center;
  margin: 7px 0;
  font-weight: 500;
  font-size: 13px;
}

.feed-item .vote-button {
  width: 39px;
}

.is-primary-classification {
  background-color: rgba(200, 200, 200, 0.25);
}

.arrow {
  width: 12px;
  height: 12px;
  filter: invert(96%) sepia(49%) saturate(396%) hue-rotate(279deg) brightness(115%) contrast(100%);
  opacity: 0.8;
}

/** General **/


/** Loader **/
.block-loader {
  text-align: center;
  margin: 50px 0;
  opacity: 0.11;
}

.lds-grid {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-grid div {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #fff;
  animation: lds-grid 1.2s linear infinite;
}
.lds-grid div:nth-child(1) {
  top: 8px;
  left: 8px;
  animation-delay: 0s;
}
.lds-grid div:nth-child(2) {
  top: 8px;
  left: 32px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(3) {
  top: 8px;
  left: 56px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(4) {
  top: 32px;
  left: 8px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(5) {
  top: 32px;
  left: 32px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(6) {
  top: 32px;
  left: 56px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(7) {
  top: 56px;
  left: 8px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(8) {
  top: 56px;
  left: 32px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(9) {
  top: 56px;
  left: 56px;
  animation-delay: -1.6s;
}
@keyframes lds-grid {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
