html, body {
  background: hsl(0, 0%, 4%);
}

/* Loading */
#loading {
  position: absolute;
  vertical-align: middle;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 24px;
  transition: opacity 1s;
}

#loading .columns {
  height: 100%;
}

#loading.loaded {
  opacity: 0;
  transition: opacity 1s;
  pointer-events: none;
}

#loading.unloaded {
  opacity: 1;
  transition: opacity 1s;
}

.breathe {
  animation: pulse 3s infinite ease-in-out;
}

@keyframes pulse {
  0% { transform: scale(0.95); opacity: 0.7; }
  50% { transform: scale(1); opacity: 1; }
  100% { transform: scale(0.95); opacity: 0.7; }
}
